<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="sachin paramesha">
    <script src="/public/style.css"></script>
    <title>Main page</title>
</head>

<body>
    <header>
        {{>header}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{>footer}}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/jquery_cookie.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src='../static/js/utilities.js'></script>


    {{!-- <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script> --}}

    {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> --}}

</body>

</html>